.features {
    background-color: var(--primary-white-color);
    padding: 94px 0;
}

.features__list {
    display: flex;
}

.features__item {
    width: 270px;
    &::before {
        content: "";
        width: 270px;
        height: 120px;
        display: block;
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:nth-child(1)::before {
        background-image: url(../images/antenna.svg);
    }
    
    &:nth-child(2)::before {
        background-image: url(../images/clock.svg);
    }
    
    &:nth-child(3)::before {
        background-image: url(../images/diagram.svg);
    }
    
    &:nth-child(4)::before {
        background-image: url(../images/astronaut.svg);
       }
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__secondary-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.features_text {
    font-size: 14px;
    line-height: 1.71;
}